<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="SqlServices" connectionString="Data Source=fp-pc1598.fp.lan;Initial Catalog=ASPNETServices;Integrated Security=True" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
      <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="20">
        <providers>
          <remove name="AspNetSqlProvider" />
          <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SqlServices" enablePasswordRetrieval="false" enablePasswordReset="true" passwordFormat="Hashed" passwordStrengthRegularExpression="" minRequiredNonalphanumericCharacters="0" requiresUniqueEmail="false" minRequiredPasswordLength="3" requiresQuestionAndAnswer="false" applicationName="/" />
        </providers>
      </membership>
      <authentication mode="Forms">
        <forms name=".ASPXFORMSDEMO" loginUrl="Account/Login.aspx" protection="All" path="/" timeout="600"></forms>
      </authentication>
      <authorization>
        <deny users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  <location path="Account/Register.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
    <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
      <location path="Content">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="fonts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms">
    </add>
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>
